
<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Search form with AngualrJS</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<script src="http://code.angularjs.org/angular-1.0.0.min.js"></script>
	<script src="search.js"></script>
</head>

<body>




<div ng-controller="SearchCtrl">

<ul>
    <li>{{stringValue}}</li>
    <li>{{objectValue}}</li>
</ul>


	<form class="well form-search">
		<label>Search:</label>
		<input type="text" ng-model="keywords" class="input-medium search-query" placeholder="Keywords...">
		<button type="submit" class="btn" ng-click="search()">Search</button>
		<p class="help-block">Try for example: "php" or "angularjs" or "asdfg"</p>		
    </form>
<pre ng-model="rawResult">
{{rawResult}}
</pre>
<ul ng-repeat="node in results"> {{result}}
<li> 


<h3>{{node.name}}</h3>, {{node.sourceId}}



</li>
<div ng-controller="SetParentCtrl">
<input type="text" ng-model="newValue">{{stringValue()}}</input>
<button ng-click="setString(newValue)">Set Values</button>
{{stringValue}}

</div>

</ul>

 </div>


<div ng-controller="GetChildCtrl">
<h2>Neighbors</h2>
<button ng-click="search(stringValue)">{{stringValue}}</button>
{{stringValue}}
<ul ng-repeat="node in results"> {{result}}
<li> 




<h3>{{node.name}}</h3>, {{node.sourceId}}



</li>

 </div>



</body>


<script>

var app = angular.module('myApp',[]);


app.service('sharedNodes', function() {
    var stringValue = 'test string value';
    var objectValue = {
        data: 'test object value'
    };
    
    return {
        getString: function() {
            return stringValue;
        },
        setString: function(value) {
            stringValue = value;
        },
        getObject: function() {
            return objectValue;
        }
    }
});

app.controller('SearchCtrl',function($scope, $http, sharedNodes) {
	$scope.url = 'http://localhost:5000/api/learn/node/'; // The url of our search
		
	// The function that will be executed on button click (ng-click="search()")



	$scope.search = function() {
		//var parent = typeof(parent) != 'undefined' ? parent : $scope.keywords;
		q = $scope.keywords;
		// TODO: fix $scope.url+$scope.keywords ..
		// Create the http get request
		// the data holds the keywords
		// The request is a JSON request.


		// FROM SERVICE
		// PARENT NODE
		$scope.stringValue = sharedNodes.setString(q);
		$scope.stringValue = sharedNodes.getString();
		$scope.objectValue = sharedNodes.getObject().data;  


		$http({method:'GET', url: $scope.url+q}).
		success(function(data, status, headers, config) {
			$scope.status = status;
			$scope.data = data;
			$scope.rawResult = data; // Show result from server in our <pre></pre> element
			$scope.results = data.nodes; // Show result from server in our <pre></pre> element


  
		})
		.
		error(function(data, status, headers, config) {
			$scope.data = data || "Request failed";
			$scope.status = status;			
		});
	};
});


app.controller('SetParentCtrl',function($scope,sharedNodes){
	newValue = $scope.parentNode; 
	//

	$scope.stringValue = sharedNodes.getString;
    $scope.objectValue = sharedNodes.getObject();

    $scope.setString = function(newValue) {
        $scope.objectValue.data = newValue;
        sharedNodes.setString(newValue);
    }



});




app.controller('GetChildCtrl', function($scope, $http, sharedNodes) {
	$scope.url = 'http://localhost:5000/api/learn/node/'; // The url of our search
		
	// The function that will be executed on button click (ng-click="search()")



	$scope.search = function(parent) {
		var parent = typeof(parent) != 'undefined' ? parent : $scope.stringValue;
		//q = $scope.keywords;
		// TODO: fix $scope.url+$scope.keywords ..
		// Create the http get request
		// the data holds the keywords
		// The request is a JSON request.
		$http({method:'GET', url: $scope.url+q}).
		success(function(data, status, headers, config) {
			$scope.status = status;
			$scope.data = data;
			$scope.rawResult = data; // Show result from server in our <pre></pre> element
			$scope.results = data.nodes; // Show result from server in our <pre></pre> element


			// StORE value in SERVICE
			$scope.setString = function(newValue) {
			        $scope.stringValue = newValue;
			        sharedNodes.setString(newValue);
			    };
			$scope.setString(newValue);
		})
		.
		error(function(data, status, headers, config) {
			$scope.data = data || "Request failed";
			$scope.status = status;			
		});
	};
});


/**




**/




</script>

</html> 