<!DOCTYPE html>
<html>
<head>
    <title>AD Graph Example.</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='/stylesheets/details.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/vivagraph.min.js"></script>

    <script language="JavaScript">
<!--
var startTime = 0
var start = 0
var end = 0
var diff = 0
var timerID = 0
function chrono(){
  end = new Date()
  diff = end - start
  diff = new Date(diff)
  var msec = diff.getMilliseconds()
  var sec = diff.getSeconds()
  var min = diff.getMinutes()
  var hr = diff.getHours()-1
  if (min < 10){
    min = "0" + min
  }
  if (sec < 10){
    sec = "0" + sec
  }
  if(msec < 10){
    msec = "00" +msec
  }
  else if(msec < 100){
    msec = "0" +msec
  }
  document.getElementById("chronotime").innerHTML = hr + ":" + min + ":" + sec + ":" + msec
  timerID = setTimeout("chrono()", 10)
}
function chronoStart(){
  document.chronoForm.startstop.value = "stop!"
  document.chronoForm.startstop.onclick = chronoStop
  document.chronoForm.reset.onclick = chronoReset
  start = new Date()
  chrono()
}
function chronoContinue(){
  document.chronoForm.startstop.value = "stop!"
  document.chronoForm.startstop.onclick = chronoStop
  document.chronoForm.reset.onclick = chronoReset
  start = new Date()-diff
  start = new Date(start)
  chrono()
}
function chronoReset(){
  document.getElementById("chronotime").innerHTML = "0:00:00:000"
  start = new Date()
}
function chronoStopReset(){
  document.getElementById("chronotime").innerHTML = "0:00:00:000"
  document.chronoForm.startstop.onclick = chronoStart
}
function chronoStop(){
  document.chronoForm.startstop.value = "start!"
  document.chronoForm.startstop.onclick = chronoContinue
  document.chronoForm.reset.onclick = chronoStopReset
  clearTimeout(timerID)
}
//-->
</script>



    <script type="text/javascript">

    var start = {

    }
    $(document).ready(function() {
      main()
    })

var start = {
 "id": "2680",
  "name": "autism",
 "properties": {"media": "gwj"},
 "nodes": [
  {
   "id": "1142",
   "distance": 19,
   "name": "categoria1",
   "properties": {"media": "9cds"}
  },
  {
   "id": "1139",
   "distance": 15,
   "name": "categoria2",
   "properties": {"media": "2p3f5"}
  }]
};

var counter = 0;
// Functions to traverse the graph
var getNodeChildren = function(graph, node_id, limit) {
  //var apiEndpoint = 'http://107.21.230.24/api/21/';
  var apiEndpoint = 'http://adgraph.herokuapp.com/api/v1/1/node/';
  //var param = '/neighbors/0.jgraph';
  var param = '/neighbors';
  counter++;
  var loadurl = apiEndpoint+node_id+param;
  console.log(loadurl);

  var parent = graph.getNode(node_id);

  console.log(node_id);

  $.ajax({
    url: loadurl,
    type: 'POST',
    data: {
      "limit": limit, // quanti ne voglio
      "offset":(counter*limit) // da dove voglio
    },
    dataType: 'json',
    jsonpCallback: 'json',
    success: function(data) { 
      var children = data.data;

      console.log('data getNodeChildren', data.data);
      
      for (var i = 0; i < children.length; ++i){
          //IE8 could not support indexOf
          /* se non c'è il nodo, allora lo metto....
          if ((map.indexOf(parseInt(children[i].id)) > -1) == false) {
              map.push(parseInt(children[i].id));
              graph.addNode(children[i].id, children[i]);            
          }
          */
          //console.log(children[i].distance);
          graph.addNode(children[i].properties.identifier,{thumbnail:children[i].properties.thumbnail,name: children[i].properties.name})
          graph.addLink(node_id, children[i].properties.identifier, 100)
         
      };


    }

  })
};


// function to decorate with wikipedia
// TODO use a callback to populate cluster of nodes, not one by one


// Gamify: show the tap-path 
// TODO : show the tree instead ? tap-path is simpler
// TODO: use array or object ?


var pushTapPath = function(node) {

    // TODO : POST RESULT TO NEO AT THE END OF THE SESSION

    tapPath.push(node);


}


var tapPath = 0










        function main () {


            // Initialize Gamify

            /* 
            // experimental TODO allow mouse interaction and fix position of labels
            // maybe go on D3 to handle it 

            
            var tapPathGraph = Viva.Graph.graph();

            var tapPathLayout = Viva.Graph.Layout.constant(tapPathGraph);

            var tapPathGraphics = Viva.Graph.View.svgGraphics(),
                nodeSize = 80;


            var i = 0, nodesCount; // convinience variables.
            
            */


            // Step 1. We create a graph object.
            var graph = Viva.Graph.graph();

            // initialize TODO replace with query
            var data = start;

            graph.addNode(data.id, {name: data.name});

            // initialize gamify

            // chronoStart()
            /*
            tapPathGraph.addNode(i,{name: data.name, coordinate: {x : 0, y: 0}});
            console.log('start',tapPathGraph.getNode(i));
            */

            var children = data.nodes;
            for (var i = 0; i < children.length; ++i){
                graph.addNode(children[i].id, {thumbnail:children[i].thumbnail,name: children[i].name});
                graph.addLink(data.id, children[i].id, children[i].distance);
            }

            // end initialize graph
            

            /*
            // tapPath to Gamify

            tapPathGraphics.node(function (node) {
                var nameTopic = node.data.name;
                var ui = Viva.Graph.svg('g'),

                    svgText = Viva.Graph.svg('text')
                        .attr('class','tapPath') 
                        .attr('text-anchor','middle')
                        .attr('y', 1.2*nodeSize).text(nameTopic)
                        .attr('x', 0).text(nameTopic),

                        img = Viva.Graph.svg('image')
                     .attr('width', nodeSize)
                     .attr('height', nodeSize)
                     .link('https://secure.gravatar.com/avatar/d43e8ea63b61e7669ded5b9d3c2e980f');

                    ui.append(svgText);
                    ui.append(img);

          
                    return ui
                }).placeNode(function(nodeUI, pos) {
                    // 'g' element doesn't have convenient (x,y) attributes, instead
                    // we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
                    nodeUI.attr('transform',
                                'translate(' +
                                      (pos.x - nodeSize/2) + ',' + (pos.y - nodeSize/2) +
                                ')');
                });

            */



            var graphics = Viva.Graph.View.svgGraphics(),
                nodeSize = 80;


            // Step 2. Add UI and UX to nodes
            graphics.node(function (node) {

                // UI
                //console.log('name',node.data.name);
                var nameTopic = node.data.name;
                console.log(node)

                var ui = Viva.Graph.svg('g'),

                    svgText = Viva.Graph.svg('text')
                        .attr('text-anchor','middle')
                        .attr('y', 1.2*nodeSize).text(nameTopic)
                        .attr('x', 0).text(nameTopic),

                    img = Viva.Graph.svg('image')
                     .attr('width', nodeSize)
                     .attr('height', nodeSize)
                     .attr('x', -nodeSize/2)
                     .attr('y', 0)
                     .link(node.data.thumbnail||"http://adgraph.herokuapp.com/images/logo.png");
                     // https://secure.gravatar.com/avatar/d43e8ea63b61e7669ded5b9d3c2e980f
                    


                ui.append(svgText);
                ui.append(img);


                // UX

                var limit = 0;

                ui.addEventListener('click', function () {
                    
                    // pin down clicked nodes
                    //layout.pinNode(node, true);

                    if ((window.clicked === undefined)||(window.clicked !== node.id))
                    {
                      window.clicked = node.id
                    }
                    else if (window.clicked === node.id)
                    {
                      if ($(".viva-graph-detail-pane").hasClass("hide-details"))
                        $(".viva-graph-detail-pane").addClass("hide-details")
                      else
                        $(".viva-graph-detail-pane").removeClass("hide-details")

                      $(".viva-graph-detail-pane").find(".full-content").eq(0).html(node.data.description)
                      //Apri
                    }

                    // call children
                    console.log(node.id);
                    getNodeChildren(graph, node.id, 2);

                    // gamify
                    /*
                    i = tapPathGraph.getNodesCount();
                    console.log('tapPath length',i)
                    tapPathGraph.addNode(i, {name: node.data.name, coordinate: {x: i*200, y: 0}});
                    console.log('tp PArent',i-1);
                    //tapPathGraph.addLink((i-1), i);
                    tapPathGraph.addLink(i-1, i);
                    console.log('tap node', tapPathGraph.getNode(i-1));
                    console.log(graph);
                    */
                    
                    

                });
                return ui;
            }).placeNode(function(nodeUI, pos) {
                // 'g' element doesn't have convenient (x,y) attributes, instead
                // we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
                nodeUI.attr('transform',
                            'translate(' +
                                  (pos.x) + ',' + (pos.y - nodeSize/2) +
                            ')');
                //console.log('pos',pos)
            });




            // Step 3. Add UI to links
            graphics.link(function (link) {
                //consolconsole.log('link 2',link);
                var thickNess = link.data;

                thickNess *= thickNess/20000;

                return Viva.Graph.svg('line')
                    .attr('stroke', '#000')
                    .attr('stroke-width', thickNess)
            });


            // Step 4. Render the graph.
            var idealLength = 100;


            var layout = Viva.Graph.Layout.forceDirected(graph, {
               springLength : idealLength,
               springCoeff : 0.0008,
               dragCoeff : 0.1,
               gravity : -1000,
               theta: 0,
               springTransform: function (link, spring) {
                    //console.log('d',link.data);
                    spring.length = 1/(1000-link.data);
                    //spring.length = 1;
                    //console.log('this is in spring',link.data);
                    //console.log('spring',spring.length);
                  },
                timeStep : 10,
                stableThreshold: 0.01
            });

            // pin initial node by id
            //var initial = graph.getNode(25);
            //layout.pinNode(initial, true);

            // gamify
            //tapPathGraph.addNode(0, {coordinate : {x : 0, y: 0}})



            var renderer = Viva.Graph.View.renderer(graph, {
                layout    : layout,
                graphics  : graphics,
                container : document.getElementById('graphContainer')
            });

        
           renderer.run();

        }

        $(document).on("click",".close-button",function() {
          $(".viva-graph-detail-pane").addClass("hide-details")
          $(".viva-graph-detail-pane > .full-content").children().remove()
          return false;
        })
    </script>

    <style type="text/css" media="screen">
        html, body, svg, #graphContainer { 
            width: 100%; height: 100%;
        }

        #tapPathContainer { 
            width: 100%; height: 20%;
            position: fixed;
            padding-top: 0rem;
            top: 80%;
            background-color: red;
            zoom: 150%;
            pointer-events:none;
            display: none;
            
        }

        #chronotime {
          font-family: "Orbitron";
          font-size: 2rem;
          font-style: italic;
        }

    </style>
</head>
<body>

<!-- <span id="chronotime">0:00:00:00</span>
<form name="chronoForm">
    <input type="button" name="startstop" value="start!" onClick="chronoStart()" />
    <input type="button" name="reset" value="reset!" onClick="chronoReset()" />
</form> -->
<div id='graphContainer'></div>

<div id='tapPathContainer'></div>

<section class="viva-graph-detail-pane ng-scope hide-details">
  <a href="#" class="close-button"></a>
  <div class="content row">
    <div class="small-12 columns full-content">
      That's all folks
    </div>
  </div>
</section>

</body>
</html>
