<!DOCTYPE html>
<html lang="en">
	  <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <meta name="description" content="Hard programming">
    	<meta name="author" content="DiscoveryAD">
	    <link rel="icon" href="bootstrap/favicon.ico">

	    <title>Grid Template for Bootstrap</title>

	    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <link href="/stylesheets/search.css" rel="stylesheet">

	    <link href="/stylesheets/grid.css" rel="stylesheet">

	    <script src="/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>
	  </head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top">
		  	<div class="container">
		    ...
		  	</div>
		</nav>

		<div class="jumbotron vertical-center">
	      
			<div class="input-group" style="width:100%;max-width:550px;">
		      <input type="text" class="form-control" placeholder="Search for...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" onclick="window.location.href='index.html';">
		        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		       	</button>
		      </span>
		    </div>

		</div>
	</body>
</html>