html
body
svg
#graphContainer 
    width 100%
    height 100%

#tapPathContainer 
    width 100%
    height 20%
    position fixed
    padding-top 0rem
    top 80%
    background-color red
    zoom 150%
    pointer-events none
    display none

#chronotime
    font-family "Orbitron"
    font-size 2rem
    font-style italic